.label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 8px;
}

.textarea {
  width: calc(100% - 24px);
  min-height: 80px;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  &:focus {
    outline: none;
    border: 1px solid #5558fa;
  }
}

.errorMsg {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: red;
  margin-top: 8px;
}
