.wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green {
  background: rgba(5, 174, 113, 0.15);
}
.red {
  background: rgba(232, 78, 88, 0.15);
}
