.form {
  max-width: 300px;
}

.wrapper {
  padding: 60px 110px 0;
  min-height: auto;
  width: fit-content;
  max-width: 100%;
}

@media screen and (max-width: 990px) {
  .wrapper {
    padding: 0 25px;
    margin: 0;
    width: auto;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    padding-top: 25px;
  }
}
